
<div>

  <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
   
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Hello
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>


    <h4>heading</h4>

    <table *ngIf='category1' style="width:100px; height:100px;"  id="pop-div">
      <thead>
        <tr>
           <th>head 1</th>
           <th>head 2</th>
           <th>head 3</th>
        </tr>
    </thead>
<tbody>
       <tr *ngFor="let item of cat1List">
         <td>{{ item.rollno }}</td>
         <td>{{ item.name }}</td>
         <td>{{ item.work }}</td>
       </tr>
    </tbody>
</table>

</div>
